*{
    margin: 0rem;
    padding-left: 0;
    text-align: center;
    /*overflow-y: scroll; */
}

body{
    display: flex;  
    flex-direction: row;   
}
.logo{
    background-image: url("../img/h_img.jpg");
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    color: white;
}
.What ul{
    list-style-type: none;
    list-style-image: unset;
    display: inline;}
.services{
    font-size: 5;
}
.card-img{
    height: 400px;

}

.footer li{
    text-decoration: none;
    list-style-type: none;
    list-style-image: unset;
    display: inline;
    font-size: 80px;}