body{
    margin:0;
    padding:0;
    background-color: transparent;
}
.jumbotron{
    background: none;
    padding: 0;
    margin: 0;
}
*{
    margin:0;
    padding:0;
    font: 1em https://fonts.google.com/specimen/EB+Garamond?sidebar.open=true&selection.family=EB+Garamond;
}
#logo{
    background-image: url("../img/h_img.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 23%;
    color: white;
    position: relative;
}
#D{
    position: relative;
    padding-bottom: 3.5%;
    justify-content: space-around;
}
#welcome{
    padding-bottom: 2%;
}
#mouse{
    padding-top: 16%; 
    padding-bottom: 3%;
}
#logo__img{
}
#about{
    padding-top: 5%;

}
#services{
  height: 45%;
    font-size: 50%;
}/*
#head{
    padding-top: 0%;
    padding-bottom: -15%;
}*/

#what{
justify-content: space-between;
display: inline;
}
#we{
    padding-top: 2.5%;
    padding-right: 8%;
}
.what-we-do{
   list-style: none;
   display: flex;
   flex-direction: row;
   padding-right: 10%;

}
.photo1,.photo2,.photo3{
    display: block ;
}
#what-hide1, #what-hide2, #what-hide3{
    display: none
}
.what-hide{
margin: 0mm;
padding: 0%;
border: 0mm;
   
}

.What li{
    width: 100%;
    padding-right: 20%;
    padding-left:10%;
    padding-top: 2.5%;
    font-size: 80%;
}
#what-hide1,#what-hide2, #what-hide3{
display: flexbox;
width: 15em;
margin: 0mm;
padding: 0%;
border: 0mm;
}
.row{
    padding-right: 15.0%;
    padding-left: 11%;
}
.col-md-3{
    position:relative;
    display: inline-block;
    padding:10px 10px 10px 10px;
}
.col-md-3__img{
    object-fit: cover;
}
.hide{
    display: none;
}

#contact{
    background-image: url("../img/c_image.jpg");
    height: 60vh;
    background-size: cover;
    padding-top: 5%;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}
#footer li{
    text-decoration: none;
    list-style-type: none;
    list-style-image: unset;
    display: inline;
}
#footer h5{
    font-size: 10px;

}

*{
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
}
/*
.container{
    width: fit-content;
    margin: 0 0 0 0;
}
#D{
    padding-top: 10%;
    position: relative;
    padding-bottom: 6%;
    justify-content: space-around;
}
#D__img{
    image-rendering: auto;
    opacity: 0.2;
}
#mouse img{
    margin-bottom: 0%;
    padding-bottom: 0mm;
}
body{
    margin:0;
    padding:0;
    display: flex;  
    flex-direction: column;   
}
.logo{
    background-image: url("../img/h_img.jpg");
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    color: white;
}
.What ul{
    list-style-type: none;
    list-style-image: unset;
    display: inline;}
.About{
    padding-top: 4%;
}
.services{
    padding-top: 4%;
    font-size: 5;
}
.card-img{
    height: 400px;
}
.portfolio{
    padding-left: 15%;
    object-fit: cover;
    padding-right: inherit;}
.row__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer li{
    text-decoration: none;
    list-style-type: none;
    list-style-image: unset;
    display: inline;
    }
.footer h5{
    font-size: 10px;

}
.contact{
margin:100px 0 100px 0;
    height: auto;
    background-color: slategray;

}
*/
.card{
    display: inline;
    padding-right: 5.0%;
    margin-right: 2%;}